@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    
}

::-webkit-scrollbar {
    width: 6px;
}
  
::-webkit-scrollbar-track {
    background: dark;
}
  
::-webkit-scrollbar-thumb {
    background: #a9a9a9; 
    border-radius: 6px; 
}
  
::-webkit-scrollbar-thumb:hover {
    background: #888888; 
}

input#mode:checked ~ label div.toggle-circle {
    @apply translate-x-3
}

/* When dark mode is not active */
html:not(.dark) #invert {
    filter: brightness(0);
}

/* When dark mode is active */
html.dark #invert {
    filter: none;
}

  